body {
  margin: 0;
  font-size: var(--font-size-small);
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100vh;;
  overflow: hidden;
}
 /* styles.css */
:root {

  /* ---------color scheme---------- */

  --primary-color: #003366; /* Blue */
  --secondary-color: #FFD700; /* Orange */
  --background-color: #f0f2f5; /* Light grey */
  --text-color: #333333; /* Dark grey */
  --success-color: #4CAF50;
  --error-color: #F44336;
  --warning-color: #FFEB3B;
  --whiteorblack-color: #fff;
  --sidebaractive-color: #004C99;
  --sidebarbg-color: #F8F9FA;

  /* --------------font sizes----------- */
  --font-size-small: 0.8rem;
  --font-size-base: 1rem; /* base size for mobile */
  --font-size-large: 1.2rem;
  --font-size-xlarge: 1.5rem;
}

/* Responsive adjustments */
@media (min-width: 768px) {
  :root {
    --font-size-base: 1.2rem; /* slightly larger for tablets */
  }
}

@media (min-width: 1024px) {
  :root {
    --font-size-base: 1.4rem; /* larger for desktop */
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}