.top-navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed; /* Keeps the navbar fixed at the top */
    top: 0;
    left: 0;
    z-index: 1050;
    box-shadow: 0 4px 8px rgba(46, 46, 46, 0.74);
}
.navbar {
    background-color: var(--sidebarbg-color);
}

.navbar-header {
    display: flex;
    align-items: center;
}
.navbar-title{
    font-weight: bolder;
    color: var(--primary-color);
    font-size: 1.2em;
    margin-left: 10px;
}
.navbar-title-mobile{
    font-weight: bolder;
    color: var(--primary-color);
    font-size: 10px
   
}
.navbar-logo {
    height: 50px;
    width: 50px;
}
.navbar-mobile{
    height: 60px;
    width: 60px;
}


.search-bar {
    background-color: var(--sidebarbg-color);
}

.search-icon {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 40px;
}
.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 20%;
    padding: 3px;
    background-color: var(--sidebarbg-color);
}


.navbar .container-fluid .custom-nav {
    flex-direction: row; /* Ensures horizontal layout */
    display: flex;
}

.custom-nav .dropdown-menu {
    position: absolute !important;
    left: -8em;
    top: 3em;
}

.clock {
    font-weight: bold;
    color: var(--sidebartext-color);
}

.icon-fill {
    fill: var(--sidebartext-color);;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .navbar .container-fluid .custom-nav{
        max-width: 70%;
    }

    .icon-button {
        margin-right: 2px;
    }
    .navbar-header{
        max-width: 10%;
    }
    .nav.custom-nav .nav-dropdown {
        position: relative; /* Make sure the dropdown is positioned relative to its parent */
    }
    
    .nav.custom-nav .dropdown-menu {
        position: absolute;
        left: 0; /* Align to the left edge of the parent */
        right: 0; /* Stretch to the right edge of the parent */
        width: auto; /* Let it expand as needed */
        max-width: 100%; /* Limit width to prevent overflow */
    }
}
